@import "$colors";
@import "$media";


.Education{
  .card-contained{
    height: auto;
    max-height: 100%;
    padding: 20px 30px;
  }

  &__caption{
    @include Media(Mobile){
      text-align: center;
    }
  }
}