@import "../../styles/colors.module";

.hotGamesSection {
  height: 570px;
  background-image: url("../../assets/images/bottom-background.jpg");
  margin-bottom: 45px;
}

.hotGameTitle {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 61px;
  text-indent: 50px;
}

.hotGameIcon {
  background-image: url("../../assets/icons/hotGame.gif");
  width: 91px;
  height: 91px;
  background-size: contain;
  position: absolute;
  top: 15px;
  left: 5px;
}

.hotGamesCards {
  flex-grow: 1;
  position: relative;
  &:hover {
    .hotGameCard {
      width: 336px !important;
      height: 200px !important;
      transform: rotate(0) !important;
      top: 0 !important;
      left: 0 !important;
    }
    .cardsTitle {
      opacity: 1;
    }
  }
}

.hotGameWrapper {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hotGamesRow {
  display: flex;
  gap: 30px;
  margin: 10px 0;
}

.cardsTitleWrapper {
  position: relative;
  z-index: 0;
  height: 86px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .cardsTitle {
    opacity: 0;
    white-space: pre-line;
    font-size: 34px;
    font-weight: 700;
    line-height: 39px;
    transition: all 0.4s ease-out;
    text-transform: uppercase;
    background: linear-gradient(180deg, map_get($common, 'red-1') 0%, map_get($common, 'yellow-1') 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: 2s cubic-bezier(.42,0,.75,3) infinite both choose;
  }
}

.hotGameCard {
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease-out;
  cursor: pointer;
  &:hover {
    .hotGameCardBackground {
      opacity: 1;
    }
  }
  .hotGameCardBackground {
    width: 100%;
    height: 100%;
    background: rgba(map_get($common, 'black-1'), 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  .hotGameCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hotGameCardText {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 400;
  }
}

.swiperWrapper {
  width: 100%;
  height: 450px;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.swiper {
  width: 748px;
  left: calc((100% - 748px) / 2);
  top: 215px;
  position: absolute;
  display: flex;

  .swiperSlide {
    background-size: cover;
    border: 1px solid;
    width: 236px;
    height: 141px;
    border-radius: 19px;

    &.swiperSlide1 {
      background-image: url("../../assets/images/hotGames/card1.png");
      border-color: map_get($common, "blue-1");
    }

    &.swiperSlide2 {
      background-image: url("../../assets/images/hotGames/card2.png");
      border-color: map_get($common, "red-4");
    }

    &.swiperSlide3 {
      background-image: url("../../assets/images/hotGames/card3.png");
      border-color: map_get($common, "blue-2");
    }

    &.swiperSlide4 {
      background-image: url("../../assets/images/hotGames/card4.png");
      border-color: map_get($common, "gray-5");
    }
  }
}

.iconArrows {
  background-image: url("../../assets/icons/arrows.png");
  width: 19px;
  height: 8px;
  position: absolute;
  bottom: - 83px;
  right: 20px;
}
.iconHand {
  background-image: url("../../assets/icons/hand.png");
  width: 30px;
  height: 33px;
  position: absolute;
  bottom: -117px;
  right: 8px;
  animation: 2s linear infinite both handAnimation;
}

:global(.slider) {
  height: 6px;
  width: 100%;
  background: map_get($common, "gray-7");
  border-radius: 7px;
  margin-top: 54px;
  position: relative;

  :global(.thumb-0) {
    height: 8px;
    width: 99px;
    background: map_get($common, "green-2");
    border-radius: 7px;
    position: absolute;
    top: -1px;
    left: 0;
    outline: none;
  }
}

:global(.mobile) {
  .hotGamesSection {
    background-image: url("../../assets/images/bottom-background.jpg");
    background-position: center;
  }

  .hotGameTitle {
    font-size: 35px;
    line-height: 39px;
    margin-bottom: 195px;
    text-indent: 38px;
  }

  .hotGameIcon {
    width: 65px;
    height: 65px;
    top: 10px;
    left: 5px;
  }

  .hotGameButtonWrapper {
    display: flex;
    justify-content: center;
  }
}

@keyframes choose {
  0%, 45%, 100% {
    font-size: 34px;
    line-height: 39px;
  }
  50%, 95% {
    font-size: 37px;
    line-height: 42px;
  }
}

@keyframes handAnimation {
  0%, 100% {
    right: 8px;
  }
  50% {
    right: -3px;
  }
}