@import "../../styles/colors.module";

.timer {
  display: flex;
  justify-content: space-between;
}

.timerSection {
  height: 30px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 28px;
  background-color: map_get($common, 'white-1');
}

.timerValue {
  color: map_get($common, 'black-2');
  font-size: 15px;
}

.timerLabel {
  position: absolute;
  bottom: -25px;
  font-size: 15px;
}

.colon {
  font-size: 20px;
}

:global(.mobile) .timerLabel {
  bottom: -19px;
  font-size: 11px;
}