@import "assets/styles/media";

.NewSkills{
  flex-wrap: nowrap;
  @include Media(Mobile) {
    flex-wrap: wrap;
    justify-content: center;
  }


  &__caption{
    width: 50%;
    @include Media(Mobile) {
      width: 100%;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
  }
  .grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    @include Media(Mobile) {
      grid-template-columns: 1fr;
    }
  }
}