$common: (
  "black-1": #000000,
  "black-2": #0D0D0D,
  "black-3": #151515,
  "white-1": #FFFFFF,
  "white-2": #FCFCFC,
  "gray-1": #515151,
  "gray-2": #282828,
  "gray-3": #464646,
  "gray-4": #515151,
  "gray-5": #DDCEC6,
  "gray-6": #2F2F2F,
  "gray-7": #524B4B,
  "green-1": #6DD76B,
  "green-2": #CBFF54,
  "yellow-1": #F1F660,
  "yellow-2": #D8A800,
  "violet-1": #3C01B7,
  "violet-2": #202021,
  "violet-3": #4A5CFF,
  "blue-2": #7B99FF,
  "red-1": #DE0038,
  "red-2": #A5002A,
  "red-3": #DB0138,
  "red-4": #A55B5B,
  "blue-1": #3686F7,

);

:export {
  primary: map_get($common, 'black-1');
  secondary: map_get($common, 'white-1');
  blue1: map_get($common, 'blue-1');
}