



@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplayLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplayRegular.OTF") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplayMedium.OTF") format("truetype");
  font-weight: 500;
}


@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplayBold.OTF") format("truetype");
  font-weight: 700;
}


