header {
  height: 100px;
  width: 100%;
}

.registerWrapper {
  margin-right: 25px;
  animation: 4s linear infinite reminder;
}

:root{
  .inversion{
    background-color: black;
    margin-top: -64px;
    a{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}