@import "$colors";
@import "$media";


.WebinarPlan{

  &__caption{

    @include Media(Mobile){
      text-align: center;
    }
  }

  &__grid{
    @include Media(Mobile){
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .count{
    position: absolute;
    right: 36px;
    bottom: 10px;
    -webkit-text-stroke: 1px map_get($common, 'blue-1');
    color: white;
  }
}