.banner {
  height: 440px;
  background-image: url("../../assets/images/banner-background.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 110%;
  border-radius: 50px;
  padding: 50px;
}
